<h2>Add new Level-2</h2>
<form action="/action_page.php" >
  <div class="card">
  <label for="fname">Level-2 Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Level-2 Description:</label>&nbsp;&nbsp;&nbsp;
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Insert"> &nbsp;&nbsp; <input type="submit" value="Cancel">
  </div>
</form>
<h2 align="center">List of Application for Orgnanization</h2>
<div class="card">
<table>
  <tr>
    <th>Level-2</th>
    <th>Level-1</th>
    <th>Name</th>
    <th>Description</th>
    <th>Inserted Date</th>
    <th>Updated Date</th>

   
  </tr>
  <tr>
    <td>111</td>
    <td>1</td>
    <td>Account Opening</td>
    <td>Opening Process</td>
    <td>2020-06-15</td>
    <td>2020-06-15</td>
    <input (click)="deleteTask(index)" type="button"
    value="Delete" class="col-2 btn btn-danger"> 
  </tr>
  <tr>
    <td>112</td>
    <td>1</td>
    <td>Account Servicing</td>
    <td>Servicing Process</td>
    <td>2020-06-15</td>
    <td>2020-06-17</td>
    <input (click)="deleteTask(index)" type="button"
    value="Delete" class="col-2 btn btn-danger"> 
  </tr>
  <tr>
    <td>113</td>
    <td>1</td>
    <td>Fee Processing</td>
    <td>Fee Process</td>
    <td>2020-06-19</td>
    <td>2020-06-19</td>
    <input (click)="deleteTask(index)" type="button"
    value="Delete" class="col-2 btn btn-danger"> 
  </tr>
  
  
</table>
</div>