<h2>Add new Level-1</h2>
<form action="/action_page.php" >
  <div class="card">
  <label for="fname">Level-1 Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Level-1 Description:</label>&nbsp;&nbsp;&nbsp;
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Insert"> &nbsp;&nbsp; <input type="submit" value="Cancel">
</div>
</form>
<h2 align="center">List of Application for Orgnanization</h2>
<div class="card">
<table>
  <tr>
    <th>Level-1</th>
    <th>Name</th>
    <th>Description</th>
    <th>Inserted Date</th>
    <th>Updated Date</th>

  </tr>
  <tr>
    
    <td>1</td>
    <td>Manage Deposits</td>
    <td>To manage deposits</td>
    <td>2020-06-15</td>
    <td>2020-06-15</td>
    <input (click)="deleteTask(index)" type="button"
        value="Delete" class="col-2 btn btn-danger"> 

  </tr>
  <tr>
    
    <td>2</td>
    <td>Manage Loans</td>
    <td>To manage loans</td>
    <td>2020-06-15</td>
    <td>2020-06-17</td>
    <input (click)="deleteTask(index)" type="button"
    value="Delete" class="col-2 btn btn-danger"> 
  </tr>
  <tr>
    
    <td>3</td>
    <td>To manage cards</td>
    <td>Fee Process</td>
    <td>2020-06-19</td>
    <td>2020-06-19</td>
     <input (click)="deleteTask(index)" type="button"
        value="Delete" class="col-2 btn btn-danger"> 
  </tr>
  
  
</table>
</div>