.img {
    background-position: center;
}
p {
    padding-left: 20px;
    color:white;
    font-size: 25px;
}
h3{
    color:white;  
}
.insp-title{
    font-size: 30px;
    color:white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.column {
    width: 100%;
    margin: 20px;
    padding: 0 10px;
    background-color: blueviolet;
}
.container {
    padding: 20px;
    position: relative;
}


.pstyle{
    color:white;
    font-size: 25px;
    font-style: italic;
}