.img {
    background-position: center;
}
p {
    padding-left: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.column {
    width: 100%;
    margin: 20px;
    padding: 0 10px;
    background-color: white;
}
.container {
    padding: 20px;
}
