<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">ORGANISATION 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href=""> 1</a>
      <a href="">2</a>
    </div>
  </div> 
</div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h2 align="center">List of Application for Orgnanization</h2>
<div class="card">
<table>
  <tr>
    <th>IT Application Name</th>
    <th>Count of process</th>
   
  </tr>
  <tr>
    <td>Salesforce</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Actimize</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Worldcheck</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Metricstream</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Bwise</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Sugar CRM</td>
    <td>12</td>
  </tr>
</table>
</div>

</body>
</html>
