.login-page {
    height: 100%;
    width: 100%;
    position:relative;
}

.card{
    border-radius: 30px;
    opacity:0.7;
    max-width:350px;
    margin-bottom:3%;
}
.logo-container {
    height: auto;
    opacity:0.8;
}
img.rounded-corner{
    border-radius: 15px;
    max-width:  300px;
}

.login-field {
    width: 100%;
}

.mat-toolbar-row{
    background-color: rgb(102,51,153);
    opacity:0.8;
}
h1{
    color:white;
    font-weight: bold;
    position:absolute;
    right:46%;
   text-align:center;
   height:auto;
   margin-bottom: 25%;
   margin-right:35%;

}

img.background-page{
  
    height: 100%;
   
  width:100%;
 
}
.back{
   
   background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     height:100%;
     width:100%;
    
}
